<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812510759032-c16pceias2hice17ef9smdsf874h5dvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812510759032-c16pceias2hice17ef9smdsf874h5dvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCLZ_hqFhk7JFveTPaJKMMdGHvv7eA3KNM</string>
	<key>GCM_SENDER_ID</key>
	<string>812510759032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testCiCdPipeline</string>
	<key>PROJECT_ID</key>
	<string>test-ci-cd-pipelines</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ci-cd-pipelines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812510759032:ios:81fa3b666919814d3f458d</string>
</dict>
</plist>